body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.calculator-display {
    background-color: #4caf50;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2rem;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f0f0f0;
}

.btn-equal {
    grid-column: span 2;
    background-color: black; 
    color: #fff;
}

.btn-equal:hover {
    background-color: #245e27;
}

.btn-zero {
    grid-column: span 2;
}