* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(971.jpg)no-repeat center center/cover;
    color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: cornflowerblue;
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

header nav .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: goldenrod;
}

#hero {
   
    text-align: center;
    padding: 100px 20px;
}

#hero h1 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 10px;
}

#hero p {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

#hero .btn {
    background: #f4f4f4;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

#hero .btn:hover {
    background: #e2e2e2;
}

section {
    color: #ddd;
    padding: 60px 20px;
    text-align: center;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    margin-bottom: 20px;
}

#services .services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#services .service {
    background: darkslateblue;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    min-width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#services .service h3 {
    background: darkslateblue;
    margin-bottom: 10px;
    font-size: 24px;
}

#services .service p {
    font-size: 16px;
}

form {
    max-width: 600px;
    margin: auto;
    background: darkslateblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: darkorange;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}